node_modules/@next/swc-linux-x64-gnu/next-swc.linux-x64-gnu.node filter=lfs diff=lfs merge=lfs -text
node_modules/** filter=lfs diff=lfs merge=lfs -text
node_modules/**/*.node filter=lfs diff=lfs merge=lfs -text
